.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
}

.navlogo {
    display: flex;
}
.h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-bottom: 12px;
}
.logo {
    border: none;
    border-radius: 5px;
}
.ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 24px;
}
.li {
    padding: 2px 4px;
    border-left: 6px solid #808080;
    color: #dcdcdc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.li:hover {
    border-left: 6px solid #5ce45c;
    transition: 3ms;
}
.a {
    text-decoration: none;
    color: #808080;
    
}
.a:hover {
    color: #5ce45c;
}
.btns {
    display: flex;
    align-items: center;
    gap: 8px;
}
.signup {
    padding: 10px 12px;
    margin: 2px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5ce45c;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 25px;
    color: #ffffff;
}
.signup:hover {
    background-color: #74b274;
    color: #ffff;
    transition: 0.3s;
}
.bars {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        width: 100%;
        border-bottom: 1px solid #c4c4c4;
        margin: 0 0;
    }
    .ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6;
    }
    #ul_container {
        position: absolute;
        top: 14%;
        left: 0;
    }
    .li {
        padding: 2px 8px;
        border-left: none;
    
    }
    .li:hover {
        color: #e141ac;
        border-left: none;
        transition: 3ms;
    }
    .bars {
        display: inline-block;
    }
}